*{
    margin: 0;
    box-sizing:border-box;
    font-family: arial;
}

.border:hover{
    border: 1px solid white;
    background-color: transparent;
    /* opacity: 100%; */
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 60px;
    width: 114px;
}
.logo{
    height: 50px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    background-image: url("Amazon-logo.jpg");
    background-size: cover;
}

.nav_delivery{
    width: 90px;
    margin: 5px;
}

.deliver{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}

.order{
    display: flex;
    align-items: center;
}

.location{
    font-size: 0.9rem;
    font-weight: bold;
}

.nav_search{
    width: 921px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
#sel{
    width: 55px;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
input{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
}
.lens{
    color: black;
    font-size: 22px;
}
.search{
    width:45px;
    height:40px;
    background-color: rgb(218, 126, 22);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_language{
    display: flex;
}

.flag{
    width: 21.6px;
    height: 16.2px;
    background-image: url("america_flag.png");
    background-size: cover;
}
#flags{
    height: 15px;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    border: none;
}
#lang{
    color: black;
    background-color: white;
}


.nav_account{
    align-content: center;
}

#hello{
    font-size: 0.7rem;
    margin-left: 4px;
}
#profile{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

.nav_rando{
    width: 77px;
    height: 50px;
    margin-left: 10px;
    align-content: center;
}
#return{
    font-size: 0.75rem;
    font-weight: 500;
}
#order{
    font-size: 0.9rem;
    font-weight: bold;
}

.nav_cart{
    width: 84px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}
.my-cart{
    font-size: 30px;
}

/* progress bar  */
.progress{
    background-color: #15192c;
    color:white;
    height: 39px;
    display: flex;
    align-items: center;
}
.progress_item{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    font-size: 0.85rem;
}
.progress_bar{
    width: 58.5px;
    font-weight: 600;
    margin-left: 15px;
}

/* content area  */
.content{
    background-color: #cccccc;
}
.intro{
    background-image: url("amazon1.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.intro_cpt{
    background-color: white;
    color: black;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95%;
    margin-bottom: 25px;
}

.material{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 20px;
    padding-bottom: 30px;
}
.box{
    width: 350px;
    height: 420px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: white;
}
.content1{
    background-size: cover;
    width: 320px;
    height: 303px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-position: center;
}
.box p1{
    font-size: 1.3rem;
    font-weight: bolder;
}
.box p2{
    color: #2162a1;
    font-size: 0.8rem;
}

.content2{
    width: 320px;
    height: 303px;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px 20px;
    padding-bottom: 0px;
}
.box1{
    width: 150px;
    height: 115px;
    background-size: cover;
    background-position: center;
    margin: 0px;
}
.content2 div{
    font-size: 0.7rem;
}

.line3{
    width: 99%;
    height: 281px;
    background-color: white;
}
.content3{
    display: flex;
    background-size: cover;
    justify-content: space-evenly;
    width: 100%;
    height: 205px;
    padding: 5px 15px 5px 15px ;
}
.line3 h2{
    padding-top: 15px;
    padding-left: 15px;

}
.box2{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

/* footer */

.footer{
    width: 100%;
    height: 968px;
    margin-top: 50px;
    background-color: #121820;
}

.footer p1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #232f3e;
    font-size: 0.75rem;
}
.instruction{
    width: 100%;
    height: 350px;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 100px;
}
.column1{
    height: 291.6px;
}
.column1 p{
    height: 17.6px;
    background-color: transparent;
    font-size: 0.8rem;
    color: #dddddd;
    margin-bottom: 10px;
}
.column1 h3{
    margin: 6px 0px 14px;
}
.line{
    background-color: rgb(85, 85, 85);
    width: 100%;
    height: 1px;
    border: none;
}
.personalize{
    width: 1000px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    background-color: #121820;
    margin: 0px 260px;
    gap: 7px;
    font-size: 0.8rem;
}
.image{
    background-image: url("Amazon-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 68px;
    margin-right: 50px;
}
.language{
    width: 132px;
    height: 34px;
    padding: 6px 20px 6px 8px;
    border: 0.5px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.money{
    width: 160px;
    height: 35px;
    padding: 6px 20px 6px 8px;
    border: 0.5px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country{
    width: 141px;
    height: 34px;
    padding: 6px 20px 6px 8px;
    border: 0.5px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}